.seccionPublicidad {
  background-color: #FD4B02;
}

.seccionPublicidad > img {
  width: 100%;
}

.seccionRecomendados {
  background: linear-gradient(0deg, #E3E6E6, #E3E6E6 , #FD4B02);
  padding: 20px;
}

.seccionRecomendados img {
  object-fit: cover;
}

.promocion > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: end
}

.oferta > p > span {
  background-color: #CC0C39;
  color: white;
  padding: 5px;
  font-weight: 500;
  font-size: 13px;
}

.oferta > p {
  color: #CC0C39;
  padding: 5px;
  font-weight: 500;
  font-size: 13px;
}

.seccionRecomendados > div, .seccionMasProductosRecomendados > div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-auto-rows: 1fr;
}

.seccionRecomendados > div > div, .seccionMasProductosRecomendados > div > div {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.seccionRecomendados > div > div > h3, .tituloProductos > h2, .seccionMasProductosRecomendados > div > div > h3 {
  font-weight: 600;
}

.seccionRecomendados > div > div > h3, .tituloProductos > h2, .seccionMasProductosRecomendados > div > div > h3 {
  cursor: default;
}

.seccionRecomendados > div > div > a, .tituloProductos > a, .seccionMasProductosRecomendados a {
  color: #0D788B;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
}

.seccionRecomendados > div > div > a:hover, .tituloProductos > a:hover, .seccionMasProductosRecomendados a:hover {
  color: #C7511F;
}

.seccionProductos {
  background-color: white;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

.tituloProductos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.productos {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  gap: 10px;
}

.productos::-webkit-scrollbar {
  background: transparent;
}

.seccionMasProductosRecomendados {
  margin: 20px;
}

.seccionMasProductosRecomendados > div > div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.seccionRecomendados img:hover, .seccionProductos img:hover, .seccionMasProductosRecomendados img:hover {
  cursor: pointer;
}

.seccionMasProductosRecomendados p {
  font-weight: 500;
  font-size: 13px;
}

@media (min-width: 480px) {
  .seccionRecomendados > div, .seccionMasProductosRecomendados > div {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 768px) {
  .seccionRecomendados > div, .seccionMasProductosRecomendados > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
  .seccionRecomendados > div, .seccionMasProductosRecomendados > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}