nav {
  background-color: #131921;
  color: white;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
}

.divMenu {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.btnMenuPrincipal {
  background-color: transparent;
  border: none;
}

.responsiveMax600 {
  display: flex;
  align-items: center;
}

nav > section > div > div {
  display: flex;
  align-items: center;
}

.divBusqueda {
  display: flex;
  justify-content: center;
}

.divBusqueda > input{
  width: 75%;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.divBusqueda > button{
  background-color: #F4B25B;
  border: 0;
  border-radius: 0 10px 10px 0;
}

.btnRecomendados {
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
}

.btnRecomendados::-webkit-scrollbar {
  background: transparent;
}

.btnRecomendados button {
  color: white;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 15px 10px;
}

.btnRecomendados button:hover, .divUbicacion:hover, .pedidos:hover , .identificate:hover, .idioma:hover, .btnMenuPrincipal:hover, .logo:hover, .cardcesta:hover {
  border: 1px solid white;
  cursor: pointer;
}

.divUbicacion > div {
  display: flex;
  flex-direction: column;
}

.divUbicacion > div > p{
  font-size: 10px;
  color: #CCCCCC;
}

.pedidos {
  border: 1px solid transparent;
}

.pedidos > p , .identificate > div > p {
  font-size: 12px;
}

.divUbicacion > div > span, .pedidos, .idioma > span, .pedidos > span, .identificate > div > span {
  font-size: 15px;
  font-weight: 500;
}

.derecha {
  display: flex;
  justify-content: flex-end;
}

.idioma, .pedidos {
  display: none;
  padding: 5px;
}

.idioma > div , .iconoArrowDropDown {
  display: flex;
  align-items: end;
}

.divBusquedaMin600px > select {
  width: 180px;
  height: 39px;
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
}

.btnMenuRecomendados, .divBusquedaMin600px, .divUbicacion, .identificate, .cesta{
  display: none;
}

@media only screen and (min-width: 600px) {
  .divMenu {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
  }
  .divBusqueda, .responsiveMax600, .btnMenuPrincipal {
    display: none;
  }
  .btnRecomendados {
    background-color: #232F3E;
  }
  .btnMenuRecomendados {
    display: flex;
    align-items: center;
  }
  .divBusquedaMin600px {
    display: flex;
    padding-left: 20px;
  }
  .divBusqueda > input{
    width: 100%;
    height: 37px;
    border-radius: 0;
  }
}

@media only screen and (min-width: 768px) {
  .idioma {
    display: flex;
  }
  .idioma > span{
    padding-left: 4px;
  }
}

@media only screen and (min-width: 992px) {
  .izquierda {
    display: flex;
    gap: 10px;
  }
  .divUbicacion {
    display: flex;
    align-items: center;
  }
}


@media only screen and (min-width: 1200px) {
  .divMenu {
    display: grid;
    grid-template-columns: 0.5fr 1.8fr 1fr;
  }
  .registrarse {
    display: none;
  }
  .identificate, .cesta {
    display: flex;
  }
  .pedidos {
    display: block;
  }
}

@media only screen and (min-width: 1330px) {
  .divMenu {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
  }
  .derecha {
    gap: 10px;
  }
}